<!-- COLONNE 1 : FORMULAIRE -->
<section class="panel panel--form" aria-label="Formulaire etiquette">
  <h2 class="panel__title">1. Saisis les infos</h2>

  <form id="labelForm" class="form" novalidate>

    <%- include('form-section-sheet') %>

    <hr class="form__sep" />

    <%- include('form-section-info') %>

    <hr class="form__sep" />
    <h3 class="form__subtitle">Style de l'etiquette</h3>

    <%- include('form-section-style') %>

    <hr class="form__sep" />

    <%- include('form-section-actions') %>

  </form>
</section>
